.loading-container {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.loading-content {
  margin: auto;
  max-height: 100%;
}
